:root {
  font-family: 'Rajdhani', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.92);
  background-color: #050505;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #050505;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#root {
  width: 100%;
}
